#!/usr/bin/env python
#
# Copyright (c) 2016, Adam Allevato
# Copyright (c) 2017, The University of Texas at Austin
# All rights reserved.
# 
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
# 
# 1. Redistributions of source code must retain the above copyright notice,
#    this list of conditions and the following disclaimer.
# 
# 2. Redistributions in binary form must reproduce the above copyright
#    notice, this list of conditions and the following disclaimer in the
#    documentation and/or other materials provided with the distribution.
# 
# 3. Neither the name of the copyright holder nor the names of its
#    contributors may be used to endorse or promote products derived from
#    this software without specific prior written permission.
# 
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS
# IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
# THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
# PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

"""
Dynamic reconfigure configuration for the overall recognizer node. These
parameters are passed on to the node so it can configure itself accordingly.
"""

PACKAGE = "orp"
from dynamic_reconfigure.parameter_generator_catkin import *
gen = ParameterGenerator()
##############################################################################
# function signature:
# gen.add("name", type(double_t|bool_t|int_t), 0, desc, default, min, max)

# TUNING PARAMETERS
gen.add("stale_time", double_t, 0, "Number of seconds that an object will " \
        "persist in the world model after being updated", 1, 0, 100)
gen.add("colocation_dist", double_t, 0, "Objects closer together than this " \
        "(or moving less than this distance in a given update step) will be " \
        "considered to be the same object", 0.05, 0, 0.2)
gen.add("refresh_interval", double_t, 0, "Recognition interval in seconds",
        0.1, 0.001, 5)

# SHOW/HIDE
gen.add("show_unknown_labels", bool_t, 0,
        "UNUSED Show labels for point clouds that can't be recognized",  True)
gen.add("show_recognition_probability", bool_t, 0,
        "UNUSED Show the (decimal) probability of the result on the markers",
        False)
gen.add("show_position", bool_t, 0,
        "UNUSED Show the X,Y,Z position on the markers", False)
gen.add("show_pose", bool_t, 0,
        "UNUSED Show the pose (rotation about Y-axis) on the markers", False)
gen.add("show_pose_std_dev", bool_t, 0,
        "UNUSED Show the pose standard deviation on the markers", False)

# DEBUG INFORMATION
# TODO(Kukanani): remove this flag? I'm not sure it's being used anywhere.
gen.add("debug_print", bool_t, 0,
        "Output debug information about detected objects", False)

##############################################################################
exit(gen.generate(PACKAGE, "orp", "Recognizer"))
