<launch>

  <node
    name    = "$(anon sixdof_min_x)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_min_x 0.25"

    respawn = "false"
    output  = "screen"
  />

  <node
    name    = "$(anon sixdof_max_x)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_max_x 1.2"

    respawn = "false"
    output  = "screen"
  />

  <node
    name    = "$(anon sixdof_min_y)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_min_y 0"

    respawn = "false"
    output  = "screen"
  />
  
  <node
    name    = "$(anon sixdof_max_y)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_max_y 1.15"

    respawn = "false"
    output  = "screen"
  />
  
  <node
    name    = "$(anon sixdof_min_z)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_min_z -0.1"

    respawn = "false"
    output  = "screen"
  />
  
  <node
    name    = "$(anon sixdof_max_z)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_max_z 0.15"

    respawn = "false"
    output  = "screen"
  />

</launch>
