<launch>
  <node
    name    = "camera_position_publisher"  
    pkg     = "tf"
    type    = "static_transform_publisher"
    args    = "0.48 0.04 0.615  1.57079632679 0.435 -0.01  world camera_link 100"

    respawn = "true"
    output  = "screen"
  />

  <node
    name    = "$(anon sixdof_min_x)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_min_x 0.1"

    respawn = "false"
    output  = "screen"
  />

  <node
    name    = "$(anon sixdof_max_x)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_max_x 0.7"

    respawn = "false"
    output  = "screen"
  />

  <node
    name    = "$(anon sixdof_min_y)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_min_y 0.5"

    respawn = "false"
    output  = "screen"
  />
  

  <node
    name    = "$(anon sixdof_max_y)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_max_y 1.4"

    respawn = "false"
    output  = "screen"
  />
  
  <node
    name    = "$(anon sixdof_min_z)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_min_z -0.1"

    respawn = "false"
    output  = "screen"
  />
  
  <node
    name    = "$(anon sixdof_max_z)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_max_z 0.15"

    respawn = "false"
    output  = "screen"
  />
    
</launch>
