<launch>
  <arg name="data_folder" default="data" />
  <arg name="list" default="cfg/test_1.list" />
  
  <rosparam command="load" param="items/" file="$(find orp)/data/colored_cubes.yaml" />

  <include file="$(find orp)/launch/orp.launch">
    <arg name="openni2"          value="true"/>
    <arg name="list"             value="$(arg list)"/>
    <arg name="autostart"        value="true" />
    <arg name="rviz"             value="true" />
    <arg name="rviz_file"        value="$(find orp)/cfg/recognition.rviz" />
  </include>

  <node
    name    = "rgb_classifier"
    pkg     = "orp"
    type    = "rgb_classifier"
    args    = ". true"

    respawn = "true"
    output  = "screen"
  />

</launch>