<launch>
  <arg name="data_folder" default="data/fall_2015/sixdof" />
  <arg name="list" default="cfg/glovebox.list" />
  
  <rosparam command="load" param="items/" file="$(find orp)/data/glovebox.sqlite" />

  <include file="$(find orp)/launch/glovebox_geometry_camera.launch"/>

  <include file="$(find orp)/launch/orp.launch">
    <arg name="openni2"          value="true"/>
    <arg name="sixdof"           value="true"/>
    <arg name="sixdof_folder"      value="$(arg data_folder)"/>
    <arg name="list"             value="$(arg list)"/>
    <arg name="autostart"        value="true"/>
    <arg name="rviz"             value="true"/>
  </include>

  <node
    name    = "$(anon sixdof4)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation percentage_to_analyze 0.5"

    respawn = "false"
    output  = "screen"
  />

  <node
    name    = "$(anon sixdof3)"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation min_cluster_size 35"

    respawn = "false"
    output  = "screen"
  />
  
</launch>