<launch>
  <arg name="home_dir"        default="$(find orp)" />
  <arg name="openni"          default="false"/>
  <arg name="openni2"         default="false"/>
  <arg name="realsense"       default="false"/>
  
  <!-- DATA -->
  <include if="$(arg openni)" file="$(find openni_launch)/launch/openni.launch"> </include>
  <include if="$(arg openni2)" file="$(find openni2_launch)/launch/openni2.launch">  </include>
  <include if="$(arg realsense)" file="$(find realsense_camera)/launch/realsense_camera.launch"> </include>

  <node
    name    = "static_transform_publisher"  
    pkg     = "tf"
    type    = "static_transform_publisher"
    args    = "0 0 0.5 0 0.85 0 world camera_link 100"

    respawn = "true"
    output  = "screen"
  />

  <node
    name="segmentation"
    pkg="orp"
    type="segmentation"
    args=""

    respawn="true"
    output="screen"
  />
  <node
    name="histogram_saver"
    pkg="orp"
    type="histogram_saver"
    args="$(arg home_dir)/$(arg data_folder)"

    respawn="true"
    output="screen"
  />
  <node
    name="pan_data_collector"
    pkg="orp"
    type="pan_data_collector"
    args=""

    respawn="true"
    output="screen"
  />

  <!-- PAN TABLE -->
  <node
    name="arduino_interface"
    pkg="rosserial_python"
    type="serial_node.py"
    args="/dev/ttyACM0" 
    
    output="screen"
    required="true"
  />
  
  <!-- FIDUCIALS -->
  
  <arg name="marker_size" default="4.4" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.0" />

  <arg name="cam_image_topic" default="/camera/depth_registered/points" />
  <arg name="cam_info_topic" default="/camera/rgb/camera_info" />	

  <arg name="output_frame" default="/world" />
  <arg name="med_filt_size" default="10" />
  <arg name="bundle_files" default="$(find ar_track_alvar)/bundles/truthTableLeg.xml $(find orp)/cfg/ptt_fiducials.xml" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundles" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg med_filt_size) $(arg bundle_files)" />

  
  <node
    name    = "rqt_reconfigure"
    pkg     = "rqt_reconfigure"
    type    = "rqt_reconfigure"
    args    = ""

    respawn = "false"
    output  = "screen"
  />

  <node
    name    = "rviz"
    pkg     = "rviz"
    type    = "rviz"
    args    = "-s $(arg home_dir)/rviz/splash.png"

    respawn = "false"
    output  = "screen"
  />

  <node
    name    = "dynparam"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set camera/driver depth_registration true"

    respawn = "false"
    output  = "screen"
  />

  <node
    name    = "dynparam2"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation spatial_min_y -0.4"

    respawn = "false"
    output  = "screen"
  />
  <node
    name    = "dynparam3"
    pkg     = "dynamic_reconfigure"
    type    = "dynparam"
    args    = "set segmentation percentage_to_analyze 0.2"

    respawn = "false"
    output  = "screen"
  />
</launch>